.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li{class: active?("prototypes"), role: "presentation"}
          = link_to "Popular PROTO", root_path
        %li{class: active?("prototypes/newest"), role: "presentation"}
          = link_to "Newest PROTO", prototypes_newest_index_path
      = link_to "View Tags", tags_path, type: 'button', class: "btn btn-default col-lg-1"
.container.proto-list
  .row
    - @prototype.each do |p|
      .col-sm-4.col-md-3.proto-content
        .thumbnail
          = link_to prototype_path(p.id) do
            = image_tag p.photos.main.first.content
            .caption
              %h3
                = p.title
              .proto-meta
                .proto-user
                  = link_to "by #{p.user.username}", user_path(p.user.id)
                .proto-posted
                  = p.created_at.strftime("%b %d")
              %ul.proto-tag-list.list-inline
                - p.tag.each do |pt|
                  %li
                    =link_to pt.name, tag_path(pt.id), class: "btn btn-default"
.text-center
  = paginate @prototype
