.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag @prototype.user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;", class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
          .proto-user
            = link_to "by #{@prototype.user.username}", user_path(@prototype.user)
            %span.degree #{@prototype.user.profile} #{@prototype.user.member}
    .col-md-6.text-right
      #like-button
        = render partial: 'likes/like', locals: { prototype: @prototype, likes: @likes, like: @like}
  .row
    .col-md-9
      = image_tag @prototype.photos.main.first.content, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.photos.sub.each do |s|
          %li.list-group-item
            = image_tag s.content, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  #comments
    = render partial: 'comments/comment', locals: { prototype: @prototype, comments: @comments, comment: @comment}
