= form_for(current_user, html: {class: "container user-new"} ) do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Edit Profile
        .user-name_image.row
          .user-name.col-md-10
            = f.text_field :username, autofocus: true, placeholder: "Username", value: current_user.username
          = image_tag current_user.avatar, class: "user-image col-md-2" do
            %button.btn.btn-primary Change image
            = f.file_field :avatar
        = f.email_field :email, autofocus: true, placeholder: "E-Mail", class: "user-email", value: current_user.email
        = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "user-password"
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :member, autofocus: true, placeholder: "Member", value: current_user.member
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, autofocus: true, cols: "30", rows: "4", placeholder: "Profile" do
              = current_user.profile
        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :works, autofocus: true, cols: "30", rows: "4", placeholder: "Works" do
              = current_user.works
    .row.text-center.user-btn
      = f.submit "Save", class: "btn btn-lg btn-primary btn-block"
