.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to user_path(@user.id) do
          = image_tag @user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;", class: "media-object"
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            = @user.prototypes.count
            %i Projects
        .proto-user
          %span.degree
            = @user.member
        .row
          .col-md-6
            %h4 Profile
            %p
              = @user.profile
          .col-md-6
            %h4 Works
            %p
              = @user.works
.container.proto-list
  .row
    - @prototypes.each do |prototype|
      .col-sm-4.col-md-3.proto-content
        .dropdown.drop_menu_location
          = button_tag type: 'button', "aria-expanded": "true", "data-toggle": "dropdown", class: "btn btn-default dropdown-toggle", id: "dropdownMenu" do
            Action
          %ul.dropdown-menu{"aria-labelledby": "dropdownMenu1"}
            %li
              = link_to "Delete", prototype_path(prototype), :method => :delete
            %li
              = link_to "Edit", edit_prototype_path(prototype)
        .thumbnail
          = link_to prototype_path(prototype.id) do
            = image_tag prototype.photos.main.first.content
            .caption
              %h3
                = prototype.title
              .proto-meta
                .proto-user
                  = link_to "by #{@user.username}", user_path(@user.id)
                .proto-posted
                  = prototype.created_at.strftime("%b %d")
              %ul.proto-tag-list.list-inline
                - prototype.tags.each do |tag|
                  %li
                    = link_to "#{tag.name}", 'tag_path(tag.id)', class: 'btn btn-default'
.text-center
  = paginate @prototypes
